/* Set how much of the viewable space is taken up */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0px 0px 0px 0px;
}
/* Set how much of the viewable space is taken by the container
and ensure that the padding is taken away. */
#page-container {
  height: 100%;
  width: 100%;
  background-color: #2774ae;
  color: #FFB81C;
}
#header-area{

  border: 1px solid white;
  margin-bottom: 10px;
}
h1,h2,h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

h3{

  color: #ffd100;
}
p{
  padding: 5px;
}

#high-scores-list {
  border: solid black 1px;

}

.btn{
  background-color: #ffd100;
  color: #2774ae;;
}

#high-scores-area{
  margin-bottom: 10px;
}


